{% extends 'base.html.twig' %}
{% block body %}

<h1>Nouvelle partie</h1>

{{ form(form) }}

<h2>Help</h2>

<table>
	<thead>
		<tr>
			<th>id</th>
			<th>username</th>
		</tr>
	</thead>
	<tbody>
		{% for joueur in joueurs %}
			<tr>
				<td>{{ joueur.id }}</td>
				<td>{{ joueur.username }}</td>
			</tr>
		{% endfor %}
	</tbody>
</table>

{% endblock %}

